.home--intro {
    min-height: 400px;
    background: url(../images/claude-ayitey.jpg), #C3CFDD;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 50%;
}

.home--intro__heading {
    background: $ca-mauve;
}

.home--intro__content {
    margin-left: 50px;
    display: inline-block;
}

.home--projects {}

.home--posts {}