.post--snippet {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.post--snippet__thumbnail {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 20px;
}

.post--snippet__date {
    display: block;
    font-family: Consolas, "Menlo", "Andale Mono", "DejaVu Sans Mono", monospace;
    color: #969696;
}

.post--snippet__title {}