.projects--list {
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    grid-gap: 4%;
}

.projects--list__item {
    text-decoration: none;
    margin-bottom: 20px;
}

.projects--list__icon {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.projects--list__title {
    transition: all 3.5ms ease;
    color: $ca-mauve;
    margin-top: 0.3em;
    font-size: 1.2em;
    line-height: 1.2;
    &:hover {
        color: $ca-dblue;
    }
}