@import "screen";
body {
    background: #D3F4C2;
    width: 100%;
    font-family: 'Proxima Nova', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.site-header {
    margin: 80px 0 20px;
    height: 40px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.site-branding {
    min-width: 200px;
}

.site-logo {}

.main-navigation {
    display: flex;
    justify-content: flex-end;
}

.site-title,
.menu-item {
    padding: 5px 10px;
    margin: 0 10px;
}

.site {
    max-width: 960px;
    margin: 20px auto;
}

section {
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    padding: 50px;
    margin-bottom: 40px;
}

.alignnone.size-full {
    width: 100%;
}

.entry-content {
    max-width: 840px;
    margin: 0 auto;
}

.entry-content p {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

p img {
    max-width: 840px;
    margin: 0 auto;
}

.home--intro {
    min-height: 400px;
    background-image: url(../images/claude-ayitey.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 50%;
}

.home--intro__heading {
    font-size: 3em;
    color: #fff;
    background: #685097;
    width: max-content;
    padding: 0.2em 1.5em 0.2em 0.6em;
    margin-bottom: 40px;
}

.home--intro__content {
    margin-left: 50px;
    display: inline-block;
}

.home--projects {}

.home--posts {}

footer {
    margin: 20px 0 60px;
    text-align: center;
}

@media(max-width:980px) {
    body {
        padding: 5%;
    }
    .site-header {
        margin: 10px 0 20px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 6%;
    }
}