footer {
    margin: 20px 0 60px;
    text-align: center;
}

.copy-left {
    display: inline-block;
    margin-bottom: 10px;
}

.social--links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    margin: 0 auto;
    width: 161px;
}

.social--icon {
    width: 45px;
    height: 45px;
}