@media(max-width:980px) {
    body {
        padding: 5%;
    }
    .site-header {
        margin: 10px 0 20px;
    }
}

@media (max-width: 900px) {
    .home--intro {
        background-position: calc(-20vw) center;
    }
    .home--intro__heading {
        margin: 0;
        width: 100%;
    }
    .home--intro__content {
        padding: 8%;
        margin: 0;
    }
}

@media (max-width: 720px) {
    .home--intro {
        background-position: calc(-40vw) center;
        background-size: cover;
    }
    blockquote {
        margin: 1em 2em 1em 0.5em;
        padding: 0.3em 0 0 1em;
    }
}

@media (max-width: 600px) {
    .section--body {
        padding: 5%;
    }
    .home--intro {
        background-size: contain;
        background-position: top center;
        background-color: #ffffff;
        padding: 72vw 0 0 0;
    }
    .home--intro__heading {
        margin: 0;
        width: 100%;
    }
    .home--intro__content {
        padding: 5%;
        margin: 0;
    }
}

@media (max-width: 480px) {
    .projects--list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 6%;
    }
}