@import "screen";
$ca-mauve: #685097;
$ca-dblue: #507B97;
$ca-wine: #975065;
$ca-red: #fc0d1b;
body {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.site-header {
    margin: 80px 0 20px;
    height: 40px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.site-branding {
    min-width: 100px;
}

.site-logo {}

.main-navigation {
    display: flex;
    justify-content: flex-end;
}

.site-title,
.menu-item {
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
}

.site {
    max-width: 960px;
    margin: 20px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
    color: $ca-wine;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 0 6%;
}

.header--title {
    color: #fff;
    font-size: 3em;
    width: max-content;
    padding: 0.2em 1.33em 0.2em 0.6em;
    margin-bottom: 40px;
}

section {
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    padding: 50px;
    margin-bottom: 40px;
}

.alignnone.size-full {
    width: 100%;
}

.entry-title {
    margin: 0 0 10px 0;
    color: #975065;
}

.entry-meta {
    font-size: 0.8em;
    margin-bottom: 40px;
}

.entry-content {
    max-width: 840px;
    margin: 0 auto;
}

.entry-content p {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

p img {
    max-width: 840px;
    margin: 0 auto;
}

@import "cayitey-home";
@import "cayitey-posts";
@import "cayitey-projects";
footer {
    margin: 20px 0 60px;
    text-align: center;
}

@import "cayitey-media-queries";